

<div class="container card element">
<form [formGroup]="loginForm" (ngSubmit)="userLogin()" #logform="ngForm">
  <br>
        <h4 style="text-align: center;" class="text">Login to StayFit</h4>
    <hr style="border-top:1px solid rgb(0, 255, 21) ;">

  <div class="form-group" style="margin: 10px;">
    <label for="email" class="text" >Email ID</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" formControlName="emailId" maxlength="50">
      <div class="text-danger" *ngIf="emailId?.invalid && emailId?.touched || logform.submitted">
        <span *ngIf="emailId?.errors?.required" >Email Id required </span>
        <span *ngIf="emailId?.errors?.pattern"> Email Id not valid</span>
      </div>
    </div>
    <!-- <span *ngIf="email.invalid && email.touched" class="error">email is required</span> -->
  </div>
  <div class="form-group" [formGroup]="loginForm" style="margin: 10px;">
    <label for="pwd" class="text">Password</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"><img src="https://www.pinclipart.com/picdir/big/130-1303682_security-password-2-icon-password-icon-in-png.png" width="15px" height="17px" ></span>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" maxlength="15" formControlName="password">
        <div class="text-danger" *ngIf="password?.invalid && password?.touched || logform.submitted">
            <span *ngIf="password?.errors?.required">Password required</span>
        </div>
     </div>
  </div>
<fieldset>
<button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary " style="background-color:rgb(0, 0, 0);">Submit</button>
<button type="register" style="float: right; margin-bottom: 15px;" class="btn btn-secondary" [routerLink]="['/register']">Register</button>

</fieldset>
</form>
</div>

