
<div id="allAppointment">
  <h3 class="jumbotron">List of Appointment</h3>
  <table class="table table-hover table-striped center" style="margin-left: auto; margin-right: auto;width:1350px">
    <thead>
      <tr>
          <th scope="col">Appointment Time</th>
          <th scope="col">Doctor First Name</th>
          <th scope="col">Prescription</th>
          <th scope="col">Invoice</th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row">
        <td>Mark</td>
        <td>Mark</td>
        <td><a href='#'>Select </a></td>
        <td><a href='#'>Select </a></td>
      </tr>
      <tr scope="row">
        <td>Jacob</td>
        <td>Jacob</td>
        <td><a href='#'>Select </a></td>
        <td><a href='#'>Select </a></td>
      </tr>
      <tr scope="row">
        <td>Larry</td>
        <td>Larry</td>
        <td><a href='#'>Select </a></td>
        <td><a href='#'>Select </a></td>
      </tr>
    </tbody>
      <!-- <tr *ngFor="let a of appointment">
          <td> {{ a.appointmentTime }} </td>
          <td> {{ a.firstname }} </td>
      </tr> -->
  </table>
