.tr{
  color: red ;
}


.text{
  color:black;
  font-weight: bold;
}
.btn{
  color: red;
  border:2px solid black;
  background-color: transparent;
}
.btn-secondary{

  color:red;
  border: 2px solid black ;
}

.btn:hover{
  color: red;
  border: 2px solid  red;

}
.btn-secondary:hover{
  olor: red;
  border: 2px solid  red ;
}

.element{
  /* width: 450px; */
  background-color:rgba(255,255,255, 0.9);
  margin-top: 20px;
  border: 2px solid white;
}

.table-hover{
  color:black;
  border:2px solid black;
}

tr:hover{
  color: red ;
}

.jumbotron{
  border:2px solid white;
  padding: 48px;
  text-align: center;
}

.table,td,tr,th{
  text-align: center;

  border: 2px solid black;
}

a{
  color: white;
  text-decoration: underline;
}
a:hover{
  color:red;
  text-decoration:double;
}

.btn-success{
  margin: 10px;
  padding: 10px;
}
