<div class="container element jumbotron" style="width: 700px; height: auto;">
    <h2 class="texual" class="text" style="text-align: center; padding: 10px;"><strong>Add prescription</strong></h2>
    <!-- <form (ngSubmit)="addMedicine()"> -->
        <div *ngIf="showPrecaution">
            <div class="form-group">
                <label for="precaution" class="text">Precaution</label>
                <textarea id="precaution" class="form-control" name="precaution" [(ngModel)]="precaution" rows="4" cols="50"></textarea>
            </div>
            <hr style="border-top:1px solid rgb(0, 255, 21) ;">
            <div class="form-group">
                <label for="symptoms" class="text">Symptoms</label>
                <textarea id="symptoms" class="form-control" name="symptoms" [(ngModel)]="symptoms" rows="4" cols="50"></textarea>
            </div>
            <hr style="border-top:1px solid rgb(0, 255, 21) ;">
        </div>
        <div class="form-group" style="display: inline-block; margin: 5px 15px; ">
            <label for="mname" class="text" >Medicine Name</label>
            <input type="text" class="form-control" name="mname" [(ngModel)]="medicineName">
        </div>
        <!-- <hr style="border-top:1px solid rgb(0, 255, 21) ;"> -->
        <div class="form-group " style="display: inline-block;">
            <label for="quantity" class="text"> Quantity</label>
            <input type="number" class="form-control" name="quantity" [(ngModel)]="quantity">
        </div>
        <hr style="border-top:1px solid rgb(0, 255, 21) ;">
     <div >
        <button (click)="addMedicine()" class="btn btn-secondary">Add More</button>&nbsp;&nbsp;
         <!-- </form> -->
         <hr style="border-top:1px solid rgb(0, 255, 21) ;">
         <span>
         <button class="btn float-left" (click)="showSymptomsPre()">Add More Precaution</button>
         <!-- <form (ngSubmit)="savePrescription()">  -->
         <button class="btn float-right" (click)="savePrescription()" type="submit">Done</button>
         </span>
      <!-- </form> -->

      </div>
<div *ngIf="showtable">
    <table class="table  center text element">
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of listOfMedicine;let i=index;">
                <td>{{medicine.medicineName}}</td>
                <td>{{medicine.quantity}}</td>
                <td><button class="btn btn-warning" (click)="update(medicine,i)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteRow(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

</div>
