<div class="container min-vh-100">
  <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
    <!-- The slides to show -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1587854680352-936b22b91030?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          style= " width:100%; height:10%"
          >
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1587854692152-cbe660dbde88?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          style= " width:100%; height:10%">
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1515350540008-a3f566782a3e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          style= " width:100%; height:10%">
      </div>
    </div>

    <!--  Controls (Left and right) -->
    <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
