.text{
  color:black;
font-weight: bold;
}
.btn{
  color: red;
  border:1px solid white;
  background-color: transparent;
}
.btn-secondary{

  color: white;
  border: 1px solid  red ;
}

.btn:hover{
  color: white;
  border: 1px solid  red ;

}
.btn-secondary:hover{
  color: red;
  border:1px solid white;
  background-color: transparent;
}

.element{
  max-width: 600px;
  background-color:rgba(255,255,255, 0.9  );
  margin-top: 20px;
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
