<div class="container element">
        <br>
  <h3 class="texual" class="text" style="text-align: center;">Doctor Registration</h3>
  <hr style="border-top:1px solid rgb(0, 255, 21) ;">
        <h5 class="text" style="text-align: center">Enter Personal Details</h5>
        <hr style="border-top:1px solid rgb(0, 255, 21) ;">

  <form [formGroup]="doctorForm" (ngSubmit)="registerDoctor()" #docform="ngForm">
      <!-- for firstName -->
      <div class="form-group">
          <label for="firstName" class="text">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" maxlength="15">
          <div class="text-danger">
            <span *ngIf="firstName?.invalid && firstName?.touched || docform.submitted">First name is required</span>
          </div>
      </div>

      <!-- for lastName -->
      <div class="form-group">
          <label for="lastName" class="text">Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" maxlength="15">
          <div class="text-danger">
            <span *ngIf="lastName?.invalid && lastName?.touched || docform.submitted">Last name is required</span>
          </div>
      </div>

      <!-- for gender -->
      <div class="form-group">
          <div><label for="gender" class="text">Gender</label></div>
          <label class="radio-inline" class="text"><input type="radio" value="MALE" name="gender" formControlName="gender">Male</label>&nbsp;&nbsp;
          <label class="radio-inline" class="text"><input type="radio" value="FEMALE" name="gender" formControlName="gender">Female</label>
          <div class="text-danger" *ngIf="gender?.touched || docform.submitted">
              <span *ngIf="gender?.errors">Gender is required</span>
          </div>
      </div>
      <!-- *ngIf="gender?.errors && (gender?.invalid && gender?.touched)"
           *ngIf="dateOfBirth.errors && (dateOfBirth.invalid && dateOfBirth.touched)"
      -->

      <!-- for date of birth -->
      <div class="form-group">
          <label for="dateOfBirth" class="text">Date Of Birth</label>
          <input type="date" class="form-control" placeholder="Date of Birth" name="dateOfBirth" formControlName="dateOfBirth">
          <div class="text-danger" *ngIf="dateOfBirth?.invalid && dateOfBirth?.touched || docform.submitted">
              <span *ngIf="dateOfBirth?.errors?.required">Date Of Birth is required</span>
          </div>
      </div>

       <!-- for address -->
       <div class="form-group">
          <label for="address" class="text">Address</label>
          <input type="textarea" class="form-control" placeholder="Address " name="address" formControlName="address" maxlength="50">
          <div class="text-danger" *ngIf="address?.invalid && address?.touched || docform.submitted">
              <span *ngIf="address?.errors?.required">Address required</span>
              <span *ngIf="address?.errors?.maxlength">Address length not more than 50</span>
          </div>
      </div>

    <!-- for phone number -->
    <div class="form-group">
        <label for="phoneNumber" class="text">Phone Number</label>
        <input type="text" class="form-control" placeholder="Phone Number " name="phoneNumber" formControlName="phoneNumber">
        <div class="text-danger" *ngIf="phoneNumber?.invalid && phoneNumber?.touched || docform.submitted">
          <span *ngIf="phoneNumber?.errors?.required" >Phone Number is required </span>
          <span *ngIf="phoneNumber?.errors?.pattern" >Phone Number is not valid </span>
        </div>
    </div>

    <hr style="border-top:1px solid rgb(0, 255, 21) ;">
    <h5 style="text-align: center" class="text">Please Enter Login Credentials</h5>
    <hr style="border-top:1px solid rgb(0, 255, 21) ;">

      <!-- for email-id --> <!-- pattern="/^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/" -->
      <div class="form-group input-group">
          <!-- <label for="emailId">Email-id</label> -->
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="name@example.com" name="emailId" formControlName="emailId" maxlength="50">
          <div class="text-danger" *ngIf="emailId?.invalid && emailId?.touched || docform.submitted">
            <span *ngIf="emailId?.errors?.required" >Email Id required </span>
            <span *ngIf="emailId?.errors?.pattern"> Email Id not valid</span>
          </div>
      </div>

      <div class="form-group input-group">
        <!-- <label for="password">Password</label> -->
        <span class="input-group-text" id="basic-addon1"><img src="https://www.pinclipart.com/picdir/big/130-1303682_security-password-2-icon-password-icon-in-png.png" width="15px" height="17px" ></span>
        <input type="password" class="form-control" placeholder="Password" name="password" maxlength="15" formControlName="password">
        <div class="text-danger" *ngIf="password?.invalid && password?.touched || docform.submitted">
            <span *ngIf="password?.errors?.required">Password required</span>
        </div>
    </div>

    <!-- for confirm password -->
    <div class="form-group input-group">
            <!-- <label for="confirmPassword">Confirm Password</label> -->
            <span class="input-group-text" id="basic-addon1"><img src="https://www.pinclipart.com/picdir/big/130-1303682_security-password-2-icon-password-icon-in-png.png" width="15px" height="17px" ></span>
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword">
            <div class="text-danger" *ngIf="confirmPassword?.invalid && confirmPassword?.touched || docform.submitted">
              <span *ngIf="confirmPassword?.errors?.required">Password required</span>
          </div>
        </div>

        <<hr style="border-top:1px solid rgb(0, 255, 21) ;">
        <h5 style="text-align: center" class="text">Enter Practice Details</h5>
        <hr style="border-top:1px solid rgb(0, 255, 21) ;">

      <div class="form-group">
              <label for="degreeCertificate" class="text">Degree Certificate</label><br>
              <input class="btn btn-secondary" id="degreeCertificate" type="file" (change)="onFileChanged($event)" required>
      </div>

      <div class="form-group">
          <label for="license" class="text">License</label><br>
          <input class="btn btn-secondary" id="license" type="file" (change)="onFileChanged1($event)" required>
      </div>

      <div style="margin-bottom: 10px; padding-bottom: 13px;">
          <button  type="submit" class="btn btn-success">Register</button>
      </div>

  </form>
  </div>
