.addDoctor {
  margin-right: 100px;
  margin-top: 50px;
}
#listOfDoctor {
  padding-right: 50px;
}

.tr{
  color: rgb(0, 255, 21) ;
}


.text{
  color: white;
}
.btn{
  color: rgb(0, 255, 21);
  border:1px solid white;
  background-color: transparent;
}
.btn-secondary{

  color: white;
  border: 1px solid  rgb(0, 255, 21) ;
}

.btn:hover{
  color: white;
  border: 1px solid  rgb(0, 255, 21) ;

}
.btn-secondary:hover{
  color: rgb(0, 255, 21);
  border:1px solid white;
  background-color: transparent;
}

.element{
  /* width: 450px; */
  background-color:rgba(0,0,0, 0.85);
  margin-top: 20px;
  border: 2px solid white;
}

.table-hover{
  color: white;
  border:1px solid white;
}

tr:hover{
  color: rgb(0, 255, 21) ;
}

.jumbotron{
  border:2px solid white;
  padding: 48px;
  text-align: center;
}

.table,td,tr,th{
  text-align: center;

  border: 1px solid white;
}

a{
  color: white;
  text-decoration: underline;
}
a:hover{
  color:rgb(0, 255, 21);
  text-decoration:double;
}
