<div id="allDoctors">
  <a href="#" class="float-md-right btn btn-primary addDoctor"  >Add Doctor</a>
  <h3 class="jumbotron " id="listOfDoctor">List of Doctors</h3>
  <table class="table table-hover table-striped center" style="margin-left: auto; margin-right: auto;width:1350px">
    <thead>
      <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Address</th>
          <th scope="col">Update Doctor</th>
          <th scope="col">Remove Doctor</th>
          <th scope="col">View License</th>
          <th scope="col">View Degree Certificate</th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row">
        <!-- <th scope="row"></th> -->
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><a href='#'>Select</a></td>
        <td><a href='#'>Select</a></td>
        <td><a href='#'>View License</a></td>
        <td><a href='#'>View Degree Certificate</a></td>
      </tr>
      <tr scope="row">
        <!-- <th scope="row"></th> -->
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td><a href='#'>Select</a></td>
        <td><a href='#'>Select</a></td>
        <td><a href='#'>View License</a></td>
        <td><a href='#'>View Degree Certificate</a></td>
      </tr>
      <tr scope="row">
        <!-- <th scope="row"></th> -->
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td><a href='#'>Select</a></td>
        <td><a href='#'>Select</a></td>
        <td><a href='#'>View License</a></td>
        <td><a href='#'>View Degree Certificate</a></td>
      </tr>
    </tbody>
      <!-- <tr *ngFor="let d of ">
          <td> {{ d.doctorId }} </td>
          <td> {{ d.firstName }} </td>
          <td> {{ d.lastName }} </td>
          <td> {{ d.emailId }} </td>
          <td> {{ d.dateOfBirth }} </td>
          <td> {{ d.phoneNumber }} </td>
          <td> {{ d.address }} </td>
          <td> {{ d.age }} </td>
      </tr> -->
  </table>
</div>
