.addDoctor {
  margin-right: 100px;
  margin-top: 50px;
}
#listOfDoctor {
  padding-right: 50px;
}

.tr{
  color: red ;
}


.text{
  color: black;
  font-weight: bold;
}
.btn{
  color:white;

}
.btn-secondary{

  color: white;
  border: 1px solid  red ;
}

.btn:hover{
  color: white;
  border: 1px solid  red ;

}
.btn-secondary:hover{
  color: red;
  border:1px solid black;
  background-color: transparent;
}

.element{
  /* width: 450px; */
  background-color:rgba(255,255,255, 0.9);
  margin-top: 20px;
  border: 2px solid black;
}

.table-hover{
  color: white;
  border:1px solid white;
}

tr:hover{
  color: red ;
}

.jumbotron{
  border:2px solid black;
  padding: 48px;
  text-align: center;
}

.table,td,tr,th{
  text-align: center;

  border: 2px solid black;
}

a{
  color: black;
  text-decoration: underline;
}
a:hover{
  color:red;
  text-decoration:double;
}
