<div class="container element">
  <br>
<h3 class="texual" class="text" style="text-align: center;">Book Appointment</h3>
<hr style="border-top:1px solid rgb(0, 255, 21) ;">
  <h5 class="text" style="text-align: center">Enter Personal Details</h5>
  <hr style="border-top:1px solid rgb(0, 255, 21) ;">

<form #Registration="ngForm" (ngSubmit)="bookAppointment()">
  <h3 class="text" style="text-align: center;">{{message}}</h3>

<!-- for Department-->
<div class="form-group">
    <label for="department" class="text">Department</label>
    <select type="text" class="form-control" name="department" id="department" [(ngModel)]="departmentName" (change)="onDepartment($event)" required>
    <!-- <option>Select department </option> -->
    <option hidden [value]="">Select Department </option>
    <option *ngFor="let d of department">{{d}} </option>
    </select>
</div>

<!-- for Doctor FirstName -->
<div class="form-group">
    <label for="doctorId" class="text">Doctor Name</label>
    <select type="text" class="form-control" name="doctorId" [(ngModel)]="doctorId" >
      <option *ngFor="let doc of listOfDoctor" [ngValue]="doc.doctorId">{{doc.firstName}} </option>
    </select>
</div>

<!-- for Date Time-->
<div class="form-group">
    <label for="appointmentDate" class="text" >Select Appointment Date</label>
    <br>
    <input type="date"  id="appointmentDate" name="appointmentDate" [(ngModel)]="appointmentDate">
    <br>
    <label for="appointmentTime" class="text" >Select Appointment Time</label>
  <select type="text" class="form-control"  name="appointmentTime" [(ngModel)]="appointmentTime">
    <option *ngFor="let time of listOfTime">{{time}} </option>
  </select>
</div>



<div style="margin-bottom: 10px; padding-bottom: 13px;">
    <button [disabled]="Registration.form.invalid" type="submit" class="btn btn-success">Register</button>
</div>

</form>
</div>
