<nav class="navbar navbar-expand-lg navbar">
  <!-- <div style="border:1px solid red;"> -->
  <a class="navbar-brand nav-link stayfit" href=""><strong><em>StayFit</em></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" style="margin-top: 15px; border-bottom:1px solid red;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/regdoctor">Doctor Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listofdoctor">List of Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listofappointment">Appointments</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="/prescription">Prescription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/invoice">Invoice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appointmentbooking">appointment Booking</a>
      </li>



      <li class="nav-item" >
        <button class="nav-item embutton" onclick="document.getElementById('id01').style.display='block'">Emergency</button>
        <p class="text-success">{{message}}</p>
        <div id="id01" class="modal">
          <form class="modal-content animate" #Registration="ngForm" (ngSubmit)="saveDetails()">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            </div>

            <div class="container">
              <div class="form-group">
                <label class="text" for="firstName">Name</label>
                <input type="text" class="form-control text" placeholder="Enter Name" name="firstName"
                  [(ngModel)]="emergency.name" #firstName="ngModel" required
                  [class.is-invalid]="firstName.invalid && firstName.touched">
                <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
                  <span class="text-danger" *ngIf="firstName.errors.required">Name is required</span>
                </div>
              </div>

              <div class="form-group">
                <label class="text" for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control text" placeholder="phoneNumber " name="phoneNumber"
                  [(ngModel)]="emergency.phoneNumber" #phoneNumber="ngModel" required
                  pattern="^((\\+91-?)|0)?[0-9]{10}$" [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched">
                <div *ngIf="phoneNumber.errors && (phoneNumber.invalid && phoneNumber.touched)">
                  <span class="text-danger" *ngIf="phoneNumber.errors.required">phoneNumber is required</span>
                  <span class="text-danger" *ngIf="phoneNumber.errors.pattern">Phone number length should be 10
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="text" for="address">Symptoms</label>
                <input type="textarea" class="form-control" placeholder="address " name="address"
                  [(ngModel)]="emergency.symptoms" #address="ngModel" required maxlength="50"
                  [class.is-invalid]="address.invalid && address.touched">
                <div *ngIf="address.errors && (address.invalid && address.touched)">
                  <span class="text-danger" *ngIf="address.errors.required">Address is required</span>
                  <span class="text-danger" *ngIf="address.errors.maxlength">Address length should be less than 50
                  </span>
                </div>
              </div>


              <button type="submit" [disabled]="Registration.form.invalid">Book An Ambulance</button>
            </div>

            <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn">Cancel</button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
<!-- </div> -->
</nav>

<router-outlet></router-outlet>
