<nav class="navbar navbar-expand-lg navbar">
  <!-- <div style="border:1px solid red;"> -->
  <a class="navbar-brand nav-link stayfit" href=""><strong><em>StayFit</em></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" style="margin-top: 15px; border-bottom:1px solid red;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      <li class="nav-item" >
        <div style="margin-left: 1250px">
          <button class="nav-item embutton" onclick="document.getElementById('id01').style.display='block'" >Emergency</button>
          <button class="nav-item embutton" style="background-color:black;color:rgb(21, 255, 21);"
            (click)="logout()">Logout</button>
        </div>
        <div id="id01" class="modal">
          <form class="modal-content animate" #Emergency="ngForm" (ngSubmit)="saveDetails()">
          <h5 class="text-success" *ngIf="showForm" id="showMessage">{{message}}</h5>

            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            </div>

            <div class="container" style="width: 30%;">
              <div class="form-group">
                <label class="text" for="name">Name</label>
                <br>
                <input style="width: 80%;" type="text" class="form-control text" placeholder="Enter Name" name="name" id="name"
                  [(ngModel)]="emergency.name" #name="ngModel" required
                  [class.is-invalid]="name.invalid">
                <div *ngIf="name.errors && (name.invalid && name.touched)">
                  <span class="text-danger" *ngIf="name.errors.required">Name is required</span>
                </div>
              </div>

              <div class="form-group">
                <label class="text" for="phoneNumber">Phone Number</label>
                <br>
                <input style="width: 80%;" type="text" class="form-control text" placeholder="phoneNumber " name="phoneNumber"
                  [(ngModel)]="emergency.phoneNumber" #phoneNumber="ngModel" required
                  pattern="^((\\+91-?)|0)?[0-9]{10}$" [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched">
                <div *ngIf="phoneNumber.errors && (phoneNumber.invalid && phoneNumber.touched)">
                  <span class="text-danger" *ngIf="phoneNumber.errors.required">phoneNumber is required</span>
                  <span class="text-danger" *ngIf="phoneNumber.errors.pattern">Phone number length should be 10
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="text" for="symptoms">Symptoms</label>
                <br>
                <input type="textarea" class="form-control text" style="width: 80%;" placeholder="symptoms " name="symptoms"
                  [(ngModel)]="emergency.symptoms" #symptoms="ngModel" required maxlength="50"
                  [class.is-invalid]="symptoms.invalid && symptoms.touched">
                <div *ngIf="symptoms.errors && (symptoms.invalid && symptoms.touched)">
                  <span class="text-danger" *ngIf="symptoms.errors.required">Symptoms is required</span>
                  <span class="text-danger" *ngIf="symptoms.errors.maxlength">Symptoms length should be less than 50
                  </span>
                </div>

                <button type="submit" class="bookbutton" [disabled]="Emergency.form.invalid">Book An Ambulance</button>

              </div>
              </div>

            <div class="container" >
              <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn" (click)="cancellation()">Cancel</button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
